{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

    <!-- <div class="container my-4 post-wrapper">
        <!-- Search Start -->
        <div class="jumbotron border shadow">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form>
                        <div class="input-group">
                            <input name="q" type="text" placeholder="Search" class="form-control form-control-lg" />
                            <div class="input-group-append">
                                <button class="btn btn-dark btn-lg">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Search -->
        <h3>All Posts</h3>
        <p>
            <a class="btn btn-success" href="/add">Add Data</a>
        </p>
    </div> -->

    {% else %}

    <h1 style='text-align:center'>Psychotherapy now with AI</h1>

    {% endif %}

{% endblock %}
