<!DOCTYPE html>
<html>
<title>Psychotherapy with AI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <class="w3-bar-item">Group MA-26</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#features" class="w3-bar-item">Features</a>
      <a href="#About" class="w3-bar-item">About</a>
      <a href="#Contact" class="w3-bar-item">Contact</a>
    </div>
  </div>
</div>

<!-- Header
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
</header>
-->

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
    </div>

    <div class="w3-col m12 w3-padding-large">
      <h1 class="w3-center">Psychotherapy now with AI</h1><br>
      <h5 class="w3-center">Click Anywhere to Begin</h5>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="About">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">About Us</h1><br>
      <h4>Who are we</h4>
      <p class="w3-text-grey">Group MA-26</p><br>
    
      <h4>Our Product</h4>
      <p class="w3-text-grey">What is it ???</p><br>
    
      <h4>What you will get</h4>
      <p class="w3-text-grey">Hi </p><br>    
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container" id="Contact">
    <h1>Contact</h1><br>
    <!--
    <p>Please do contact us for any problem encontered</p>
    <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
    -->
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="Message/Problem/Request" required name="People"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
  
<!-- End page content -->
</div>

<!--
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
-->
</body>
</html>